html, body {
margin: 0;
padding: 0;
text-align: center;
}
* {
  margin: 2;
  padding: 10;
  font-family: monospace;
}

body{
  background-color: #FF1493	;
}

h1 {
    font-size: 50px;
    text-align: center;
}

